* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E7D7C9;
    font-family: Cormorant Garamond, serif;
    color: #333;
    scroll-behavior: smooth;
}

header {
    text-align: center;
    padding: 20px;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

h1, h2 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s;
    font-size: 1rem;
}

nav a:hover {
    color: #fff;
    background-color: #333;
    border-radius: 5px;
}

.gallery img, .gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about {
    display: flex;
    padding: 40px 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.founder-image img, .ateliers img {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
}

.description {
    max-width: 600px;
    text-align: justify;
    font-size: 1rem;
}

.image-row {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.image-row img {
    width: 45%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
}

footer img {
    width: 150px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        margin: 10px;
    }

    .about, .ateliers {
        flex-direction: column;
    }

    .founder-image img, .ateliers img {
        width: 250px;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

     
}


.sculptures {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

.image-column {
    margin-bottom: 20px;
}

.image-column img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
.image-row {
    display: flex;
    gap: 2px; 
    justify-content: center; 
}

.image-row img {
    width: 45%; 
    height: auto;
}
.map {
    width: 45%; 
    height: auto;
}
